aenum==3.1.15
altgraph==0.17.4
certifi==2026.2.25
cffi==2.0.0
colorama==0.4.6
cryptography==46.0.7
dbf==0.99.11
fpdf==1.7.2
future==1.0.0
httplib2==0.31.2
packaging==26.0
peewee==3.17.8
pefile==2024.8.26
Pillow==12.2.0
pycparser==3.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PyMySQL==1.1.2
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
PySimpleSOAP==1.8.22
pywin32-ctypes==0.2.3; sys_platform == 'win32'
qrcode==8.2
setuptools==82.0.1
six==1.17.0
tabulate==0.10.0
XlsxWriter==3.2.9
